/vendor/
/composer.lock
/.env
/nbproject/private/
/debian/redmine2abraflexi/
/debian/debhelper-build-stamp
/debian/.debhelper/
/debian/redmine2abraflexi.debhelper.log
/debian/redmine2abraflexi.substvars
/debian/files
/debian/multiflexi-redmine2abraflexi.debhelper.log
/debian/multiflexi-redmine2abraflexi.substvars
/debian/multiflexi-redmine2abraflexi/
