#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_install:
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/conf/composer.json
	dh_install
	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g'            	      debian/redmine2abraflexi/usr/share/redmine2abraflexi/*.php
	sed -i -e 's/..\/vendor/\/var\/lib\/composer\/redmine2abraflexi/g' 	      debian/redmine2abraflexi/usr/share/redmine2abraflexi/*.php
	sed -i -e 's/\.\./\/etc\/redmine2abraflexi/g'                                  debian/redmine2abraflexi/usr/share/redmine2abraflexi/*.php
	sed -i -e 's/.\/AbraFlexi\/Reminder\/Notifier/\/usr\/lib\/redmine2abraflexi\/Reminder\/Notifier/g'    debian/redmine2abraflexi/usr/share/redmine2abraflexi/*.php
